@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Art4You</h1>
    <p class="lead">Art4You is a place were the art finds his home.</p>
    <p><a href="http://example.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Artwork</h2>
        <p>
            You can find here more information about the pieces of work and their authors.
        </p>
        <p><a class="btn btn-default" href="http://en.wikipedia.org/wiki/Work_of_art">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Artists</h2>
        <p>If you are a person engaged in one or more activities related to creating art.</p>
        <p><a class="btn btn-default" href="http://en.wikipedia.org/wiki/Artist">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Expo</h2>
        <p>Here is the place were all artists are showing their masterpieces.</p>
        <p><a class="btn btn-default" href="http://en.wikipedia.org/wiki/Trade_fair">Learn more &raquo;</a></p>
    </div>
</div>